<% include ./partials/header %>

<h1>Sign Up!</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="Username"></input>
    <input type="password" name="password" placeholder="Password"></input>
    <button>Sign Up</button>
</form>

    </div>
    <% include ./partials/footer %>
    </div>
    